@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway", sans-serif;
  max-width: 1140px;
  margin: auto;
}
/* All Button */
.btn {
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(78, 71, 255);
  border-radius: 10px;
  border: none;
}
.btn:hover {
  background-color: rgb(250, 234, 146);
  color: black;
  border-radius: 20px;
  transition-duration: 0.4s;
}
/* banner section start */
.banner {
  background-image: url(Assets/Hero-bg.png);
  border-color: white;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  max-height: 746px;
  border-radius: 10px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav strong {
  font-size: 34px;
  color: rgb(78, 71, 255);
  font-weight: 900;
  margin-right: 900px;
}
h1 {
  text-align: center;
  font-size: 65px;
  margin-top: 158px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 37px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main button {
  margin-bottom: 200px;
}
/* banner section end */

/* action section start */
.action {
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.action-text {
  margin-right: 220px;
}
.action-text h2 {
  font-size: 42px;
  margin-bottom: 20px;
}
.action-text p {
  font-size: 24px;
  color: rgb(137, 135, 161);
  margin-bottom: 20px;
}
.action img {
  border-radius: 48px;
}
/* action section end */
/* users section start */
.users {
  margin-top: 116px;
  background-color: #e3e3fc;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 24px;
  margin-bottom: 137px;
}
.users h2 {
  font-size: 38px;
  text-align: center;
  margin-bottom: 40px;
}
.number {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  color: rgb(78, 71, 255);
  font-size: 80px;
  font-weight: bolder;
}
.text {
  display: flex;
  justify-content: space-around;
}
/* users section end */
/* review section start */

.review h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.cards {
  display: flex;
  gap: 20px;
}
.img-card {
  margin-bottom: 20px;
}
.card h3,
p {
  margin-bottom: 10px;
}
.card {
  background-color: #f3f3ff;
  padding: 20px;
  border-radius: 14px;
}
.detail {
  display: inline-flex;
  margin-top: 10px;
}
.detail img {
  border-radius: 50px;
  margin-right: 10px;
}
/* review section end */
/* focus section start */
.focus {
  margin-top: 137px;
  margin-bottom: 92px;
  display: grid;
  justify-content: center;
  padding: 71px 150px;
  background-color: #e3e3fc;
  border-radius: 14px;
}
.focus h2 {
  font-size: 50px;
  margin-bottom: 20px;
}
.focus p,
button {
  margin-bottom: 20px;
}
.focus img {
  border-radius: 48px;
}
/* focus section end */
/* newsletter section start */
.newsletter {
  display: flex;
}
.newsletter h2 {
  font-size: 97px;
  width: 50%;
}
.newsletter label {
  font-size: 18px;
  font-weight: medium;
}
.newsletter input {
  width: 497px;
  padding: 20px 32px;
  background-color: #f6f6ff;
  border: none;
  border-radius: 10px;
}
.newsletter textarea {
  width: 497px;
  height: 135px;
  padding: 20px 32px;
  background-color: #f6f6ff;
  border: none;
  border-radius: 10px;
}
/* newsletter section end */
/* footer section start */
footer {
  background-color: #e3e3fc;
  border-radius: 10px;
}
.footer {
  width: 531px;
  padding-top: 104px;
  padding-bottom: 104px;
}
.footer h2 {
  font-size: 100px;
  text-align: center;
  font-weight: 900;
  color: rgb(78, 71, 255);
  margin-bottom: 10px;
}
.footer p {
  text-align: center;
  color: #8987a1;
  margin-bottom: 20px;
}
nav ul {
  display: flex;
}
nav li a {
  text-decoration: none;
  color: #8987a1;
}
nav li {
  list-style: none;
}
/* footer section end */
